.site-nav {
  background: #222;
  text-align: center;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.site-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: 0.3s;
}

.site-nav a:hover {
  color: #1cc88a;
}
